<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
-->
    <connectionStrings>
			<add name="TMOEntities" 
				connectionString="metadata=res://*/Models.TMOModel.csdl|res://*/Models.TMOModel.ssdl|res://*/Models.TMOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=974b66c4-288b-4592-b326-a4560155c7b9.sqlserver.sequelizer.com;initial catalog=db974b66c4288b4592b326a4560155c7b9;persist security info=True;user id=fjbdbaeizcrblrlk;password=GDnXqiSLm8BdmZiToTGdzvJufbMbArUgMj2SFnGdMA5cGghe66WPhw7m3ZSoCRj3;MultipleActiveResultSets=True;App=EntityFramework&quot;"
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />      
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
